:root {
    --color-desktop: #008080;
    --color-window: #c0c0c0;
    --color-window-light: #ffffff;
    --color-window-shadow: #808080;
    --color-window-dark: #202020;
    
    --color-titlebar: #000080;
    --color-terminal: #101912;
    --color-terminal-text: #d7ded7;

    --color-success: #68dd48;
    --color-warning: #e0c938;
    --color-error: #ed4e4e;

    --font-system:
        "MS Sans Serif", "Tahoma", sans-serif;
}